<section class="d-flex">
    <div class="nav">
        <nav>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item"><a class="nav-link fw-semibold fs-5" href=""><i class="bi bi-house-door"></i> Dashboard</a></li>
            </ul>
        </nav>
    </div>

    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="px-2">
            <i (click)="openMenu()" id="btnOpenMenu" class={{iconOpenMenu}}></i>
        </div>

        <div class="icons-top">
            <div class="btn_theme" (click)="changetTheme()">
                <i class={{iconTheme}}></i>
            </div>
            <div class="position-relative">
                <i class="fa-regular fa-bell"></i>
                <p class="notificacoes">20+</p>
            </div>
        </div>
        
    </header>
</section>

<router-outlet></router-outlet>
