<section class="d-flex">
    <div class="nav">
        <nav>
            <div class="d-flex justify-content-center py-3">
                <img src="../../assets/img/logo.png" alt="">
            </div>
    
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item"><a class="nav-link fw-semibold fs-5" href=""><i class="bi bi-house-door"></i> Dashboard</a></li>
            </ul>
        </nav>
    </div>

    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="px-2">
            <i (click)="openMenu()" id="btnOpenMenu" class="fs-2 bi bi-list"></i>
        </div>

        <div class="icons-top">
            <div>
                <i class="fs-4 bi bi-moon"></i>
            </div>
            <div class="position-relative">
                <i class="fs-4 bi bi-bell"></i>
                <p class="notificacoes">20+</p>
            </div>
        </div>
        
    </header>
</section>

<router-outlet></router-outlet>
