section {
    width: 100%;
}

.table {
    overflow-x: scroll;
    height: 81vh;
}

.table::-webkit-scrollbar {
    width: 1px;
}

.table::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
}

.list_called table {
    width: 100%;
}

.list_called table thead {
    color: var(--font-gray);
    font-size: 19px;
}

.list_called table thead tr {
    border: 0;
}

.list_called table thead th {
    padding: 0px 5px;
}

.list_called tbody tr {
    cursor: pointer;
}

.list_called table tr:hover {
    background-color: var(--bg-hoverTable);
}

.list_called table tbody td {
    color: var(--font-blue);
    font-weight: 500;
    padding: 5px 5px;
    font-weight: 600;
    border-bottom: 1px solid #dbdbdb6b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    max-width: 200px;
}

.list_called table td span{
    padding: 8px 5px;
}


.status_called {
    background-color: rgb(222, 250, 215);
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.bg-pendente {
    background-color: var(--bg-pending);
}

.bg-execucao {
    background-color: var(--bg-execution);
}

.bg-finalizado {
    background-color: var(--bg-finished);
}

.actions {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

.btn_options {
    background-color: var(--bg-execution);
    box-shadow: 0px 6px 19px -5px rgba(0,0,0,0.76);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 28px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.76);
    width: 180px;
    border-radius: 8px;
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 999;

    display: none;
    flex-direction: column;
}

.options div {
    padding: 10px 0;
    transition: 0.5s;
}

.options a {
    text-decoration: none;
    color: var(--font-blue);
    padding: 10px;
    border-radius: 8px;
}

.options div:hover {
    background-color: #ececec;
}

.closeOptions {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
