section {
    width: 100%;
}

.btn_options {
    background-color: var(--bg-execution);
    box-shadow: 0px 6px 19px -5px rgba(0,0,0,0.76);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 28px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.76);
    width: 180px;
    border-radius: 8px;
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 999;

    display: none;
    flex-direction: column;
}

.options div {
    padding: 10px 0;
    transition: 0.5s;
}

.options a {
    text-decoration: none;
    color: var(--font-blue);
    padding: 10px;
    border-radius: 8px;
}

.options div:hover {
    background-color: #ececec;
}

.closeOptions {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.cards {
    margin: 15px auto;
}

.cards .col{
    border-radius: 8px;
    background-color: var(--bg-cards);
}

.cards .col h5 {
    color: var(--font-blue);
    padding: 5px 0px;
}

.card_pending h1 {
    color: var(--bg-pending);
}

.card_execution h1{
    color: var(--bg-execution);
}

.card_finished h1 {
    color: var(--bg-finished);
}

.table_graphic {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list_called {
    background-color: var( --bg-cards);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.list_called h3 {
    color: var(--font-blue);
    font-weight: bolder;
    margin-bottom: 30px;
}

.table {
    overflow-x: scroll;
    height: 450px;
}

.table::-webkit-scrollbar {
    width: 1px;
}

.table::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
}

.list_called table {
    width: 100%;
}

.list_called table thead {
    color: var(--font-gray);
    font-size: 19px;
}

.list_called table thead tr {
    border: 0;
}

.list_called table thead th {
    padding: 0px 5px;
}

.list_called tbody tr {
    cursor: pointer;
}

.list_called table tr:hover {
    background-color: var(--bg-hoverTable);
}

.list_called table tbody td {
    color: var(--font-blue);
    font-weight: 500;
    padding: 15px 5px;
    font-weight: 600;
    border-bottom: 1px solid #dbdbdb6b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    max-width: 200px;
}

.list_called table td span{
    padding: 8px 5px;
}


.status_called {
    background-color: rgb(222, 250, 215);
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.bg-pendente {
    background-color: var(--bg-pending);
}

.bg-execucao {
    background-color: var(--bg-execution);
}

.bg-finalizado {
    background-color: var(--bg-finished);
}

.text-pendente {
    color: var(--bg-pending);
}

.text-execucao {
    color: var(--bg-execution);
}

.text-finalizado {
    color: var(--bg-finished);
}

.graphic {
    width: 100%;
    max-width: 350px;
    max-height: 550px;
    background-color: var(--bg-cards);
    padding: 20px 0;
    border-radius: 10px;
}

@media (max-width: 1300px) {
    .graphic {
        display: none;
    }
}

.modalEfect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000a1;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.viewCalled {
    width: 80%;
    max-width: 600px;
    height: 370px;
    background-color: var(--bg-body);
    position: absolute;
    z-index: 9999;
    border-radius: 8px;
    padding: 20px;
    animation: go-back 0.5s;
}

.viewCalled i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--font-blue);
}

.viewCalled i:hover {
    color: var(--font-gray);
    transition: 0.3s;
}

.viewCalled h3, h5 {
    margin-bottom: 15px;
    color: var(--font-blue);
}

.viewCalled h6 {
    color: var(--font-blue);
}

.viewCalled div {
    overflow-y: scroll;
    max-height: 140px;
    background-color: var(--bg-hoverTable);
    padding: 5px;
    border-radius: 5px;
}

.viewCalled div::-webkit-scrollbar {
    width: 6px;
}

.viewCalled div::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
}

.dateOpening {
    margin: 20px 0;
}

.viewCalled p {
    font-weight: 500;
}

@keyframes go-back {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(0);
    }
}

.openCalled {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a1;

    display: none;
    justify-content: center;
    align-items: center;
}

.openCalled form {
    background-color: var(--bg-cards);
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    animation: go-back 0.5s;
    z-index: 999;
}

.openCalled form > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    position: relative;
}

.openCalled i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--font-blue);
    cursor: pointer;
}

.openCalled i:hover {
    color: var(--font-gray);
    transition: 0.3s;
}

.openCalled form h2 {
    text-align: center;
}

.openCalled form div {
    display: flex;
    flex-direction: column;
}

.openCalled form label {
    color: var(--font-blue);
    margin-bottom: 5px;
    font-weight: 500;
}

.openCalled form input, textarea {
    border-radius: 4px;
    border: 1px solid #c7c7c7a2;
    padding: 5px;
    color: var(--font-blue);
}

.openCalled form input:focus, textarea:focus {
    outline: 1px solid var(--bg-lightBlue);
}

.openCalled form button {
    border-radius: 4px;
    padding: 5px;
    background-color: var(--bg-lightBlue);
    color: var(--font-white);
    font-weight: 500;
    font-size: 18px;
    border: 0;
    transition: 0.5s;
}

.openCalled form button:hover {
    background-color: var(--bg-lighBlueHover);
}

.alerts {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a1;

    display: none;
    align-items: center;
    justify-content: center;
}

.alerts > div {
    padding: 15px 8px;
    width: 90%;
    max-width: 350px;
    background-color: var(--bg-cards);
    border-radius: 8px;
    animation: go-back 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.alerts img {
    width: 120px;
}

.alerts p {
    font-size: 18px;
    color: var(--font-blue);
    font-weight: bold;
    text-align: center;
}

.alerts button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: var(--bg-lightBlue);
    font-weight: 500;
    transition: 0.5s;
}

.alerts button:hover {
    background-color: var(--bg-lighBlueHover);
}