/* You can add global styles to this file, and also import other style files */
/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --bg-body: #F1F5F7;
    --bg-cards: #FFFFFF;
    --bg-navbar: #0E2238;
    --bg-modal: #e0e0e0;

    --bg-pending: #f73939;
    --bg-execution: #3e95e6;
    --bg-finished: #14d43d;

    --bg-lightBlue: #0bc6d3;
    --bg-lighBlueHover: #0c9ba5;

    --font-blue: #192C41;
    --font-gray: #808080;
    --font-white: #fff;

    --font-hover-blue: #009EA9;
}

:root .dark-mode {
    --bg-body: #1F1F1F;
    --bg-cards: #3A3B3B;
    --bg-navbar: #1B1B1C;

    --bg-pending: #f73939;
    --bg-execution: #3e95e6;
    --bg-finished: #14d43d;

    --bg-lightBlue: #0bc6d3;
    --bg-lighBlueHover: #0c9ba5;

    --font-blue: #919191;
    --font-gray: #c0bdbd;
    --font-white: #fff;

    --font-hover-blue: #009EA9;
}

body {
    background-color: var(--bg-body);
}